/************************************** DÉBUT REGLAGES CSS PAGES PRINCIPAL *********************************************/
html,body {
	background-color: #2E2E2E;


}

#logo {
	background-color: #DF3A01;
	height:200px;
	width:500px;
	margin-left: 500px;
	border: solid 4px #DF3A01;
}
#age {
	margin-left: 350px;
	
	width:800px;
}

#numéro{
	background-color: #DF3A01;
	height: 30px;
	width: 300px;
}

h1,h5 { /* Non du site = Titre H1 */

		text-align: center;
		background-color: #DF3A01;
		margin: 0;
		padding-bottom: 10px;
		padding-top:30px;
		color: #000000;
	}
	
	



#menu-deroulant, #menu-deroulant ul {
	height: 150px;
	width: 70px;
    padding: 0;
    margin: 0;
    list-style: none;
    border: solid 3px black;
    background-color: #DF3A01;
}
#menu-deroulant {
/* on centre le menu dans la page */
margin-left: 500px;
    text-align: center;
    height: 100%;
	width: 500px;

}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
    
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    background-color: #DF3A01;
    border: solid 1px black;
     height: 100%;
	width: 7000px;
	height: 200px;

}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;

}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#coeur,#sa{
	margin: 0;
height: 200px;
width: 500px;

	}
	#centre {
		margin-left:300px;
	}



footer,#foot, {
	vertical-align:bottom;
	background-color: #DF3A01;
    position: absolute;
    bottom: 0;
    height: XX;
	
	text-align: center;
	color: #FFFFFF;
	height:20px; width:100%; position:absolute; margin:0; 
		}
		#service{
			background-color:#DF3A01;
		}

	/******************************************FIN CSS PRINCIPAL ******************************/	


/********************** CSS  PRODUIT *************************/
/* Debut images type produit */
#produit {
	height:500px; 
	width:500px;
	margin-left: 966px:
}
/*Fin css images type produit */

/* Titre produit */
#titre {
	text-align: center;
	background-color: #FAFAFA;

}
/* Fin titre produit */
/*Debut Promo produit */

#promo {
	text-align: center;
	color: red;
	font-size:40px;
	border: solid 5px #64FE2E;
}

#prix {
	text-align: center;
	color: red;
	font-size: 30px;
	text-decoration: line-through;
	background-color: #FAFAFA;
	border: solid 5px red;

}
#produit1{
	/*background-color: #FAFAFA;*/
	margin:0;
	background-color: #FAFAFA;
	border: solid 5px black;
	

}
#cat{
	text-align: center;
	border: solid 5px black;
}

#Descriptif{


}

/***************************************PAGE CONTACT ********************************************************************************

/* h1 de la pages contact */ 

#titrec {
	text-align: center;
	font-size: 30px;
	margin: 
}



/******************************************* PRODUIT PAGES INDEX**********************************************/
#type {
	height: 300px;
	width: 300px;
	border: solid 4px black ;
}

h6{
	font-size: 25px;
	color:red;
	margin-top:0;

}
#asus {
	height: 300px;
	width: 300px;
	border:solid 4px black ;
}

#fix {height: 300px;
	width: 300px;
	border: solid 4px black ;



}